
body {
    background-color: rgb(48, 48, 48);
  }
  
  h1 {
    text-align: center;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'sans-serif';
    text-shadow: 10cm;
  }
  h2{
    color: #E7F3FF;
    line-height: 175%;
    
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'sans-serif';
  }
  h3{
    color: #E7F3FF;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'sans-serif';
  }
  .stroke {
    background-color: rgb(48, 48, 48);
    text-shadow: -1px -1px 0 #5C6268, 1px -1px 0 #5C6268, -1px 1px 0 #5C6268, 1px 1px 0 #5C6268;
  /* Pris de https://stackoverflow.com/questions/4919076/outline-effect-to-text*/}
  a:link{
    color:#89a9d3;
    text-decoration: none;
  }
  a:visited{
    color:#8a89d3;
    text-decoration: none;
  }
  a:hover{
    color:#5a89cc;
    text-decoration: none;
  }
  a:active{
    color:#5049ba;
    text-decoration: none;
  }